<template name="Products">
  <h2>New Product</h2>
  {{> quickForm collection="Products" type="insert" id="productForm" omitFields="description,taxable"}}

  <h3>Available Products:</h3>
  <table class="table table-striped">
    <thead><tr>
      <th>Name</th>
      <th>List Price</th>
    </tr></thead>
    <tbody>
  {{#each products}}
    {{> ProductRow}}
  {{/each}}
  </tbody>
  </table>
</template>

<template name="ProductRow">
  <tr>
    <td>{{name}}</td>
    <td>{{listPrice}}</td>
  </tr>
</template>