<template name="SalesEdit">
  <h2>Edit Sales:</h2>
  
  <label for="saleCustomer">Customer:</label>
  <select class="customer-select">
    {{#each customerOptions}}
      <option value="{{value}}" selected="{{isSaleCustomer .. value}}">{{label}}</option>
    {{/each}}
  </select>
  
  <form class="add-item">
    <select name="product" class="product-select">
      {{#each productOptions}}
        <option value="{{value}}">{{label}}</option>
      {{/each}}
    </select>
    <input type="number" name="eachPrice" id="eachPrice" placeholder="Each price?" />
    <input type="number" name="quantity" placeholder="How many?" value=1 />
    <input type="submit" value="Add Item">
  </form>
  
  {{> saleLines}}
</template>

<template name="saleLines">
  <ul>
  {{#each items}}
  <li>{{product}} {{quantity}} {{eachPrice}} {{extendedPrice}}</li>
  {{/each}}
  </ul>
</template>